

// Custom.scss
// Option A: Include all of Bootstrap

@import "../sass/bootstrap";




*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@mixin square($size, $radius: 0) {
  width: $size;
  height: $size;

  @if $radius != 0 {
    border-radius: $radius;
  }
} 

.main-wrapper{


  
}
/*-----------------------------------------------------------------------*/
    /* start product style */
/*-----------------------------------------------------------------------*/

.product-wrapper{
   padding: 100px 0;
  background-color: #80808012;
}


  .productheader{
    width: 100%;
   display: flex;
   align-items: center;
   padding: 10px 0;

 
    &__squir-button{
      width: 20px;
      height: 20px;
      background: #69efd0;
      border: none;
      margin-right: 10px;
      display: table;
  

    }

    &__header-title{
      font-size: 30px;
      display: block;
      margin: 5px;
      text-transform: uppercase;
  

      @include media-breakpoint-only(md) { 
            
      font-size: 20px;
     

      }
    }
  }


.Product{


  .productbox{

    display: flex;
    border-bottom:1px solid #80808038;
    padding: 20px 0;


    &__img img{
      width: 100px;
      height: 100px;
    }

    &__dec{
      margin-left: 15px; 
      box-sizing: border-box;


      i{
        color: #1eb9a5;
      }

      p{
        font-size: 1.5em;
        font-weight: bold;
        @include media-breakpoint-only(md) { 

          font-size: 1em;


        }
      }

    }



    &__title{
        font-size: 16px;

        @include media-breakpoint-only(md) { 

          font-size: 12px;


        }
      }

      &__border-none{

        border-bottom: 0;
      }

    
  }

}
/*-----------------------------------------------------------------------*/
    /* END product style */
/*-----------------------------------------------------------------------*/








 



